<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="green">
						<h4 class="title">Suas consultas</h4>
						<p class="category">Verifique as suas consultas marcadas</p>
					</div>
					<div class="card-content table-responsive">
						<table class="table">
							<thead class="text-primary">
								<th>Nome do Médico</th>
								<th>Data</th>
								<th>Hora</th>
								<th>Ação</th>
							</thead>
							<tbody id="appointmentTable">
								<tr>
									<td>Dakota Rice</td>
									<td>19/05/2017</td>
									<td>13:50</td>
									<td>
										<a class="btn btn-danger btn-fab btn-fab-mini btn-round" rel="tooltip" data-original-title="Cancelar consulta" data-placement="right">
											<i class="material-icons">error</i>
											<div class="ripple-container"></div>
										</a>
									</td>
								</tr>
								<tr>
									<td>Minerva Hooper</td>
									<td>19/05/2017</td>
									<td>15:30</td>
									<td>
										<a class="btn btn-danger btn-fab btn-fab-mini btn-round" rel="tooltip" data-original-title="Cancelar consulta" data-placement="right">
											<i class="material-icons">error</i>
											<div class="ripple-container"></div>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn-info pull-right" data-toggle="modal" data-target="#newAppointment">Nova Consulta</a>
	</div>
</div>
